body{
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.seat{
    background-color: #444451;
    height: 25px;
    width: 25px;
    margin: 3px;
    border-radius: 5px; ;
    font-size: 22px;
    text-align: center;
    color: #fff;
}
.seat.selected{
    background-color: #f6eb6f;
    color: black;
}
.seat.reserve{
    background-color: #fff;
    color: black;
}
.seat.no{
    background-color: #fff;
    margin-right: 25px;
    color: black;  
}
.seat:nth-of-type(3){
    margin-right: 50px;
}
.seat:nth-last-of-type(3){
    margin-right: 50px;
}

.seat:not(.reserve,.no):hover{
   cursor: pointer; 
   transform: scale(1.3);
}
.row{
    display: flex;
}
.screen{
    background-color: #fff;
    height: 50px;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 3px 8px rgba(255,255,255,0.7);
}

.movie-list{
    margin: 50px 0;
}

.info{
    background-color: rgb(0,0,0,0.2);
    padding: 5px 10px;
    color:#777;
    display: flex;
}

.info li{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 10px;
}

p.text span{
    color:#f6eb6f;
    font-size: 25px;
}

.text{
    font-size: 25px;
    color: #fff;
}
